<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.0.0">

    <mirrors>
        <mirror>
            <id>mirror-central</id>
            <mirrorOf>central</mirrorOf>
            <url>http://nexus.intern.viadee.de/repository/maven-central/</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>viadeeProfile</id>
            <repositories>
                <repository>
                    <id>viadeeMavenPublic</id>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                        <checksumPolicy>fail</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                    <url>http://nexus.intern.viadee.de/repository/maven-public/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>viadeeProfile</activeProfile>
    </activeProfiles>
</settings>